{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}

<div>
  {{#with program}}
    <main>
      <section>
        <h2>Exursion</h2>
        <div>
          {{#with excursion}}
            <em>Name:</em>
            {{name}}
            <br />
            <br />
            <em>Location:</em>
            {{location.city}},
            {{location.country}}
            <br />
            <br />
            <em>Date:</em>
            {{date}}
            <h3 class='mt-3'>Program</h3>
            <ul>
              {{#each program}}
                <li><em>Name:</em> {{name}}</li>
                <li><em>Type:</em> {{type}}</li>
                <li><em>Duration:</em> {{duration}}</li>
                <li>
                  {{#with details}}
                    {{#with museum}}
                      <em>Location:</em>
                      {{name}},
                      {{#with location}}
                        {{adress}}{{city}},{{country}}
                      {{/with}}
                      <ul>
                        {{#each exhibits}}
                          <li>
                            {{name}},
                            {{artist}}
                            {{description}}
                            {{#if
                              audio_guide
                            }}(відвідали){{/if}}
                          </li>
                        {{/each}}
                      </ul>
                    {{/with}}
                    {{#with venue}}
                      <em>Name:</em>{{name}}
                      {{#with location}}
                        <em>Address:</em>{{address}},
                        {{city}},
                        {{country}}
                      {{/with}}
                    {{/with}}
                    {{#each performers}}
                      <em>Name:</em>{{name}},
                      <em>Type:</em>{{type}}
                    {{/each}}
                    {{#with guide}}
                      <em>Guide:</em>{{name}},
                      {{language}},
                      {{rating}}
                    {{/with}}
                  {{/with}}
                </li>
              {{/each}}
            </ul>
          {{/with}}
        </div>
      </section>
    </main>
  {{/with}}
</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}