<hr class="my-2"
<section>
  <nav aria-label='breadcrumb'>
    <ol class='breadcrumb ms-0'>
      <li class='breadcrumb-item ms-0'><a
          href='{{breadcrumb.0.url}}'
        >{{breadcrumb.0.name}}</a></li>
      <li class='breadcrumb-item'><a
          href='{{breadcrumb.1.url}}'
        >{{breadcrumb.1.name}}</a></li>
      <li class='breadcrumb-item'><a
          href='{{breadcrumb.2.url}}'
        >{{breadcrumb.2.name}}</a></li>
      <li
        class='breadcrumb-item active'
        aria-current='page'
      >{{breadcrumb.3.name}}</li>
    </ol>
  </nav>
</section>