  {{#with footer}}
   <footer>
     <div class="ms-0">
        {{#with social}}
         <ul class="nav ms-0">
           <li class="nav-item">
              <a class="nav-link" href="{{email.href}}">{{email.text}}</a>
           </li>
            <li class="nav-item">
               <a class="nav-link" href="{{phone.href}}">{{phone.text}}</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{linkedin.href}}">{{linkedin.text}}</a>
            </li>
         </ul>
        {{/with}}  
     </div>
      <div class="mt-3 ms-3">
        <em>Copyright by {{../header/name.firstname}} {{../header/name.lastname}} </em>
      </div>
    
      <div class="mt-3 ms-3">
        {{../header/address}}
      </div>
  
      <hr />
   </footer>
   {{/with}}
